@model IEnumerable<ManufacturaMVC.Models.CustomerCities>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerCityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCustomerCity">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCustomerCity">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCustomerCity">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
